@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.header{
    /* border-bottom: 1px solid #E2E8F0; */
    /* margin-top: 20px; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 5rem 0rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.5rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #111;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #444;
}

/* content */
.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-size: 1.4rem;
    height: 40rem;
    align-items: center;
    padding: 10px;
    
}
.child-portfolio {
    align-self: center;
    padding: 10px;
}
.portfolio-motto {
    /* text-align: center; */
    line-height: 25px;
}
.portfolio-motto p {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #475569;
    line-height: normal;
}
.portfolio-motto h3 {
    color: #475569;
}
.portfolio-motto h2 {
    color: #475569;
    margin-top: 10px;
}
.wa-sign {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.wa-sign-ch {
    margin-right: 10px;
}
.signup {
    height: 25px;
    width: 60px;
    border-radius: 20px;
    border: none;
    background-color: orange;
    color: black;
    border: 3px solid purple;
}
.jumboimg {
    height: 100%;
    width: 300px;
    position: relative;
    background-color: #444;
    z-index: -1;
}
.services {
    background-color: whitesmoke;
    height: 200px;
    padding: 10px;
}
.product {
    text-align: center;
}
.product-icon {
    margin: auto;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.speed1, .speed2, .speed3 {
    height: 100px;
    border-radius: 10px;
    width: 100px;
    background-color: #444;
    margin: 10px;
}
.tittle h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.facility {
    text-align: center;
}
.facility-icon {
    margin: auto;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.facility1, .facility2, .facility3 {
    height: 100px;
    width: 100px;
    background-color: #444;
    border-radius: 10px;
    margin: 10px;
}
.tittle-facility h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.customer {
    text-align: center;
}
.customer-icon {
    margin: auto;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.customer1, .customer2, .customer3 {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-color: #444;
    margin: 10px;
}
.tittle-customer h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.footer-bind {
    height: 300px;
    background-color: black;
}
.wrapper {
    width: 80%;
    margin: auto;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    line-height: 25px;
}
.footer-child {
    color: #999;
    font-size: 1.5rem;
}

/* media query */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .portfolio {
        flex-direction: column;
        height: 70rem;
    }
    .product-icon {
        flex-direction: column;
        align-items: center;
        height: 400px;
    }
    .facility-icon {
        flex-direction: column;
        align-items: center;
    }
    .customer-icon {
        flex-direction: column;
        align-items: center;
    }
    .services {
        height: 500px;
    }
    .footer-child {
        font-size: 1.5rem;
    }
    .footer {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .footer-child {
        margin-top: 20px;
    }
}


